.canvas {
  background: url(../../assets/background.png);
  background-repeat: repeat;
  image-rendering: pixelated;
}

.canvas-area {
  width: 100%;
  height: 100%;
  background-color: #a0a0a0;
  display: flex;
  justify-content: center;
}

.canvas-area__canvas {
  width: 525px;
  height: 525px;
}
