.body {
  margin: 0 auto;
  background-color: #1D1D1D;
}

.header {
  background-color: #454545;
  padding: 5px 20px;
  height: 36px;
  display: flex;
  justify-content: flex-start;
}

.logo-link img{
  height: 24px;
}

.header__project-name{
  margin: 0;
  width: 100%;
  text-align: center;
  height: 24px;
  font-size: 16pt;
  color: #888;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
}

.tool-column, .frame-column{
  padding: 5px;
  border: 1px solid white;
  flex-basis: 10%;
  height: 84vh;
}

.canvas-column{
  border: 1px solid white;
  flex-basis: 60%;

  padding: 5px;
  display: flex;
  margin: auto;
}

.animation-column{
  border: 1px solid white;
  flex-basis: 20%;
}

.tool-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tool-wrapper__tool {
width: 50px;
height: 50px;
margin: 1px;
background-color: #888;
display: flex;
justify-content: center;
font-size: 16pt;
color: #fff;
}

.palette-wrapper {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  position: relative;
}

.palette-wrapper__color {
  width: 53px;
  height: 53px;
  border: 3px solid #888;
}

.main-color {
  z-index: 2;
  background-color: white;
}

.background-color {
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 16px;
  background-color: green;
}

.palette-wrapper__change-button {
  color:  #888;
  font-size: 16pt;
  position: absolute;
  bottom: -20px;
  left: 5px;
}

.frame-column {
  display: flex;
  flex-direction: column;
}

.frame-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.frame-inform {
  background-color: #666;
  position: relative;
  margin-bottom: 5px;
  border: 3px solid #666;
}

.frame-inform:hover {
  border: 3px solid #888;
}

.selected {
  border: 3px solid orange;
}

.selected:hover{
  border: 3px solid orange;
}

.frame-inform__button{
  background-color: #4545458a;
  color: #fff;
  font-size: 16pt;
  width: 30px;
  height: 30px;
  border: 0;
  position: absolute;
}

.number-button {
  background-color: orange;
  color: #000;
  top: 0;
  left: 0;
}

.duplicate-button {
  bottom: 0;
  right: 0;
}

.delete-button {
  top: 0;
  right: 0;
}

.dragndrop-button {
  bottom: 0;
  left: 0;
}

.frame-wrapper__add-frame-button {
  border: 3px solid #888;
    color: #888;
    margin: 0 auto;
    width: 95%;
    text-align: center;
    padding: 10px 0;
}

.frame-wrapper__add-frame-button:hover {
  border: 3px solid orange;
}

.canvas-area {
  width: 875px;
  height: 525px;
  background-color: #666;
  display: flex;
  justify-content: center;
}

.canvas-area__canvas {
  background: url(../../assets/background.jpg);
  image-rendering: pixelated;
  width: 525px;
  height: 525px;
}

