.gray {
  background: #2b2b2b;
  border:3px solid #444;
  color: #fff;
}

.body {
  margin: 0 auto;
  background-color: #1D1D1D;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.header {
  background-color: #2d2d2d;
  padding: 5px 20px;
  height: 36px;
  display: flex;
  justify-content: flex-start;
}

.canvas {
  background:url(../../assets/background.png);
  background-repeat: repeat;
  image-rendering: pixelated;
}

.logo-link{
  background: url(../../assets/piskel-logo.png);
  height: 24px;
  width: 85px;
}

.header__project-name{
  margin: 0;
  width: 100%;
  text-align: center;
  height: 24px;
  font-size: 16pt;
  color: #888;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
}

.tool-column, .frame-column{
  padding: 5px;
  /* border: 1px solid white; */
  flex-basis: 8%;
  height: 84vh;
}

.aplication-action-column{
  padding: 5px;
  /*border: 1px solid white;*/
  flex-basis: 3%;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.canvas-column{
  /* border: 1px solid white; */
  flex-basis: 70%;

  padding: 5px;
  display: flex;
  margin: auto;
}

.tool-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.aplication-action-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: auto 0;
}

.tool-wrapper__tool, .aplication-action-wrapper__action {
width: 44px;
height: 44px;
margin: 1px;
background-color: #444;
display: flex;
justify-content: center;
font-size: 16pt;
color: #fff;
}

.palette-wrapper {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  position: relative;
}

.palette-wrapper__color {
  width: 53px;
  height: 53px;
  border: 3px solid #888;
}

.main-color {
  z-index: 2;
  background: url(../../assets/background.jpg);
}

.background-color {
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 16px;
  background: url(../../assets/background.jpg);
}

.palette-wrapper__change-button {
  color:  #888;
  font-size: 16pt;
  position: absolute;
  bottom: -20px;
  left: 5px;
}

.frame-column {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-basis: 10%;
}

.frame-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.frame-inform {
  background-color: #666;
  position: relative;
  margin-bottom: 5px;
  width: 96px;
  height: 96px;
  border: 3px solid #666;
}

.frame-inform:hover {
  border: 3px solid #888;
}

.frame-inform__frame-action {
  width: 96px;
  height: 96px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.frame-inform__frame-action:hover{
  opacity : 1;
  z-index: 2;
}

.selected {
  border: 3px solid #ffd700;
}

.selected:hover{
  border: 3px solid #ffd700;
}

.frame-inform__canvas-icon{
  width: 96px;
  height: 96px;
  position: relative;
  z-index: 1;
}

.frame-inform__button{
  background-color: #4545458a;
  color: #fff;
  font-size: 16pt;
  width: 30px;
  height: 30px;
  border: 0;
  position: absolute;
  z-index: 3;
}

.number-button {
  background-color: #ffd700;
  color: #000;
  top: 0;
  left: 0;
}

.duplicate-button {
  bottom: 0;
  right: 0;
  background-image: url(../../assets/copy-icon.png);
}

.delete-button {
  top: 0;
  right: 0;
  background-image: url(../../assets/delete-icon.png);
}

.dragndrop-button {
  bottom: 0;
  left: 0;
  background-image: url(../../assets/drag-icon.png);
}

.frame-wrapper__add-frame-button {
  border: 3px solid #888;
    color: #888;
    background: #222;
    width: 101px;
    text-align: center;
    padding: 10px 0;
}

.frame-wrapper__add-frame-button:hover {
  border: 3px solid #ffd700;
}

.canvas-area {
  width: 100%;
  height: 100%;
  background-color: #a0a0a0;
  display: flex;
  justify-content: center;
}

.canvas-area__canvas {
  width: 525px;
  height: 525px;
}

.resize {
  background-image: url(../../assets/resize.png);
}

.pen {
  background-image: url(../../assets/pen.png);
}

.eraser {
  background-image: url(../../assets/eraser.png);
}

.bucket {
  background-image: url(../../assets/bucket.png);
}

.setting-column {
  visibility: hidden;

  position: absolute;
  width: 200px;
  height: 60vh;
  background: #444;
  box-shadow: 0 0 5px 0 black;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  right: 0;
  top: 140px;

  padding: 5px 10px;
}

.enabled {
  visibility: visible;
}

/****************************************************/
.setting-column__name {
  text-transform: uppercase;
  color: #ffd700;
  font-size: 12px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px #aaa solid;
}

.setting-form__text {
  color: #888;
  font-size: 12px;
}

.setting-form__input-text{
  background: #000;
  color: #fff;
  font-size: 12px;
  border: 1px solid #888;
}

.setting-form__button{
  background: #ffd700;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  border: none;
  margin-top: 15px;
}

.selected-action {
  border-left: 3px solid #ffd700;
  position: absolute;
  right: 208px;
}
