.frame-column {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-basis: 10%;
}

.frame-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.frame-inform {
  background-color: #666;
  position: relative;
  margin-bottom: 5px;
  width: 96px;
  height: 96px;
  border: 3px solid #666;
}

.frame-inform:hover {
  border: 3px solid #888;
}

.frame-inform__frame-action {
  width: 96px;
  height: 96px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.frame-inform__frame-action:hover {
  opacity: 1;
  z-index: 2;
}

.selected {
  border: 3px solid #ffd700;
}

.selected:hover {
  border: 3px solid #ffd700;
}

.frame-inform__canvas-icon {
  width: 96px;
  height: 96px;
  position: relative;
  z-index: 1;
}

.frame-inform__button {
  background-color: #4545458a;
  color: #fff;
  font-size: 16pt;
  width: 30px;
  height: 30px;
  border: 0;
  position: absolute;
  z-index: 3;
}

.number-button {
  background-color: #ffd700;
  color: #000;
  top: 0;
  left: 0;
}

.duplicate-button {
  bottom: 0;
  right: 0;
  background-image: url(../../assets/copy-icon.png);
}

.delete-button {
  top: 0;
  right: 0;
  background-image: url(../../assets/delete-icon.png);
}

.dragndrop-button {
  bottom: 0;
  left: 0;
  background-image: url(../../assets/drag-icon.png);
}

.frame-wrapper__add-frame-button {
  border: 3px solid #888;
  color: #888;
  background: #222;
  width: 101px;
  text-align: center;
  padding: 10px 0;
}

.frame-wrapper__add-frame-button:hover {
  border: 3px solid #ffd700;
}
