.tool-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tool-wrapper__tool {
  width: 44px;
  height: 44px;
  margin: 1px;
  background-color: #444;
  display: flex;
  justify-content: center;
  font-size: 16pt;
  color: #fff;
  }


.palette-wrapper {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  position: relative;
}

.palette-wrapper__color {
  width: 53px;
  height: 53px;
  border: 3px solid #888;
}

.main-color {
  z-index: 2;
  background: url(../../assets/background.jpg);
}

.background-color {
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 16px;
  background: url(../../assets/background.jpg);
}

.palette-wrapper__change-button {
  color:  #888;
  font-size: 16pt;
  position: absolute;
  bottom: -20px;
  left: 5px;
}


.pen {
  background-image: url(../../assets/pen.png);
}

.eraser {
  background-image: url(../../assets/eraser.png);
}

.bucket {
  background-image: url(../../assets/bucket.png);
}

.paint-same-pixels {
  background-image: url(../../assets/PaintSamePixels-icon.png);
}

.rectangle {
  background-image: url(../../assets/rectangle-icon.png);
}
